<% if @message == 'redirect_uri_mismatch' %>
<h3>Authentication failed, try using the HTTPS version of this site if you are not already</h3>
<% else %>
<h3> Authentication failed, <%= @message %> </h3>
<% end %>