<h1>How to Use this Site</h1>

<p>Chances are, nothing is showing up for you on the front page and your frusturated! Fear not, you are just a few steps away from having a really nice pretty dashboard.</p>

<h2>Getting Started</h2>

<h3>A Dashboard</h3>

<p>In order to see a pretty dashboard, you'll need</p>

<ul>
	<li>At least one repository that you own or are listed as a collaborator on</li>
	<li>At least one open milestone on that repository</li>
	<li>At least one open issue on that milestone</li>
	<li>At least one developer assigned to that open issue</li>
	<li>*An estimate on that open issue*</li>
</ul>

<p><em>What's an estimate?  How do I put one on an open issue?!</em></p>

<p>It's actually pretty issue.  Just place '@estimate:[SOME INTEGER]h' in the body of the issue somewhere. Make sure it's formatted correctly -- but don't worry about whether estimate is capitalized or lower case.</p>

<p>Yea, try it.  Just make a fake issue or something!</p>

<p><em>POOF!</em></p>

<p>There you go, a dashboard. Pretty cool right?  Hold on though, it'll take just another minute to update you on how to track your history - the real bread and butter of this app!</p>

<h3>Tracking Your History</h3>

<p>So you have a dashboard, but the results are probably pretty non-useful right now.  Since you haven't made estimates in the past, your dashboard assumes the worst about you, giving a wide range of possible ship dates.  This is okay for now, but as you work on issues and close them, update the actual time it took you right on the issue so that overtime the ship date predictions become more accurate!  After finishing 6 tasks, you'll start to see changes to your history, and to the dashboard predictions, based on data about your own estimates.</p>

<p>Putting the actual time on the issue is almost like putting an estimate on one.  You put it in the same place - the body of the issue! The only difference is that you write '@actual:[SOME INTEGER]h'.  It doesn't matter where it is in the body, and '@actual' can be capitalized, just make sure the rest of the format is just like I wrote.  Try it on that fake issue, and then close the issue.</p>

<p><em>BAM!</em></p>

<p>Less exciting than last time admittedly, because until there are 6 like that your results won't change much...</p>

<p>But trust me, it's worth it</p>

<p>Now delete those fake issues, russel up a team, and get cracking on a project! OH! But wait!</p>

<h3>Oh, But Wait!</h3>

<p>Before you are FINALLY done, you really have to read this blog post by Joel Spolsky of Stack Overflow, Fog Creek, and Microsoft (Yea, he's a big shot).  The post describes how Evidence Based Scheduling or EBS works and is pretty fun to read too.  It'll take you like 6 minutes, and then you'll be able to read and understand all the graphs on your dashboard.</p>

<a href="https://www.joelonsoftware.com/2007/10/26/evidence-based-scheduling/">Evidence Based Scheduling by Joel Spolsky</a>

<h2>Technical Details</h2>

<h3>Labels</h3>

<p>The following labels are supported by the app.  Add them to allow you to find out how ship dates could be affected by cutting lower priority features</p>

<ul>
	<li>urgent</li>
	<li>high</li>
	<li>important</li>
	<li>medium</li>
	<li>moderate</li>
	<li>low</li>
	<li>none</li>
</ul>

<h2>Have a question?</h2>

<p>Write me, maxwellhigginsbuck@gmail.com</p>

<p>Cheers!</p>
<p>Max</p>







