<div class="container">
	<div class="jumbotron">
		<h1>How to Use this Site</h1>

		<h2>A Dashboard</h2>

		<p>In order to see a pretty dashboard, you'll need</p>

		<ul>
			<li>At least one repository that you own or are listed as a collaborator on</li>
			<li>At least one open milestone on that repository</li>
			<li>At least one open issue on that milestone</li>
			<li>At least one developer assigned to that open issue</li>
			<li><b>An estimate on that open issue</b></li>
		</ul>

		<p>To put an estimate on an issue place something like <b class="text-info">@estimate:6h</b> in the body of the issue somewhere. Make sure it's formatted correctly, but don't worry about whether the estimate is upper or lower case. Use an integer for the estimate - decimals aren't supported yet.  It should look like this:</p>

		<div class="row" style="margin:20px;">
			<div class="text-center">
				<img width="75%" class="rounded float-lg-right" src="assets/adding_an_estimate.png" alt="Adding an Estimate">
			</div>
		</div>

		<p>If you've done it right, you already have a dashboard. Next let's update the issue with the actual time taken so that Sheepo's future predictions will be more accurate.</p>

		<h2>Tracking Your History</h2>

		<p>Since you haven't made estimates in the past, your dashboard assumes the worst about you, giving a wide range of possible ship dates.  That's okay for now, but as you work on issues and close them you should update the actual time it took you so that over time the ship date predictions become more accurate.</p>

		<div class="row" style="margin:20px;">
			<div class="text-center">
				<img width="75%" class="rounded float-lg-right" src="assets/adding_an_actual_time.png" alt="Adding an Actual Time">
			</div>
		</div>

		<p>Putting the actual time on the issue is almost like putting an estimate on one.  You put it in the same place, the body of the issue, and it doesn't matter where it is in the body.</p>


		<h2>More About EBS</h2>

		<p>To get the most out of this dashboard I highly recommend reading <a href="https://www.joelonsoftware.com/2007/10/26/evidence-based-scheduling/">this blog post</a> by Joel Spolsky of Stack Overflow, Fog Creek, and Microsoft. The post describes how Evidence Based Scheduling (EBS) works and is pretty fun to read too.</p>

		<h2>Technical Details</h2>

		<h3>Labels</h3>

		<p>The following labels are supported by the app.  Add them to allow you to find out how ship dates could be affected by cutting lower priority features</p>

		<ul>
			<li class="text-danger">urgent</li>
			<li class="text-warning">high</li>
			<li class="text-primary">important</li>
			<li class="text-success">medium</li>
			<li class="text-info">moderate</li>
			<li>low</li>
			<li class="text-muted">none</li>
		</ul>

		<h2>Have a question?</h2>

		<p>Write me at <a href= "mailto:maxbuckdeveloper@gmail.com">maxbuckdeveloper@gmail.com</a>, I'd love to hear from you.</p>
		
		<p>Max</p>
	</div>
</div>







